// Ubuntu
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/regular.ttf') format('ttf');
  font-weight: normal; // 400
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/regular-italic.ttf') format('ttf');
  font-weight: normal; // 400
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/bold.ttf') format('ttf');
  font-weight: bold; // 700
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/bold.ttf') format('ttf');
  font-weight: bold; // 700
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/medium.ttf') format('ttf');
  font-weight: 500; // Medium
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/medium-italic.ttf') format('ttf');
  font-weight: 500; // Medium
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/light.ttf') format('ttf');
  font-weight: 300; // Light
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/light-italic.ttf') format('ttf');
  font-weight: 300; // Light
  font-style: italic;
}
